<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>
<body>
<div id="head"></div>
<div class="container-fluid">
    <div class="row vh-100">
            <div class="col-2 nav flex-column nav-pills" style="padding: 0" id="adminUser-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active mt-3" data-toggle="pill" href="#admin" role="tab"
                   aria-controls="#admin" aria-selected="true">Admin</a>
                <a class="nav-link" data-toggle="pill" href="#user" role="tab"
                   aria-controls="user" aria-selected="false">User</a>
            </div>
        <div class="col-10 bg-light px-4">
            <div class="tab-content" id="adminUserContent">
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users" role="tab">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newuser" role="tab">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="users" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <strong>All users</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col"><strong>ID</strong></th>
                                            <th scope="col"><strong>Username</strong></th>
                                            <th scope="col"><strong>Password</strong></th>
                                            <th scope="col"><strong>Role</strong></th>
                                            <th scope="col"><strong>Edit</strong></th>
                                            <th scope="col"><strong>Delete</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody id="allUsers">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="newuser" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Add new user</strong>
                                </div>
                                <div class="card-body">
                                    <form id="formAdd" class="text-center m-auto w-25" action="/admin/users" method="post">
                                        <div class="form-group">
                                            <strong><label for="username">Username</label></strong>
                                            <input id="username" name="username" class="form-control form-control-sm"
                                                   type="text" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="password">Password</label></strong>
                                            <input id="password" name="password" class="form-control form-control-sm"
                                                   type="text" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="role">Role</label></strong>
                                            <select id="role" name="roles" class="custom-select" multiple size="2">

                                            </select>

                                        </div>
                                        <button type="submit" id="addButton" class="btn btn-success btn-save col-5">Add new user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user">
                    <h1>User information-page</h1>
                    <div id="userTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="editLabel" aria-hidden="true" id="modal">
    <div class="modal-dialog" role="document">
        <form id="mdForm" action="" class="modalForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLabel">user</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group row justify-content-center">
                        <div class="col-5">
                            <strong><label for="userId">ID</label></strong>
                            <input id="userId" name="id" class="form-control form-control-sm"
                                   type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-5">
                            <strong><label for="newUsername">Username</label></strong>
                            <input id="newUsername" name="username"
                                   class="form-control form-control-sm" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-5">
                            <strong><label for="newPassword">Password</label></strong>
                            <input id="newPassword" name="password"
                                   class="form-control form-control-sm" type="password" value="">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-5">
                            <strong><label for="newRoles">Role</label></strong>
                            <select id="newRoles" name="roles" class="custom-select" multiple size="2">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button id="modalButton" type="submit">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>