<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello!</title>
    <form action="/login" method="post" >
        <button>Logout</button>
    </form>
</head>
<body>
<!--    <h1>Hello, <h1 th:text="${user.username}"/></h1>-->
    <table border="1" width="25%" cellpadding="5">
    <tr>
        <td><p><b>ID</b></p></td>
        <td><p><b>Username</b></p></td>
        <td><p><b>Password</b></p></td>
    </tr>
    <tr>
        <td th:text="${user.id}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
    </tr>
</table>
</body>
</html>